- name: Créer le fichier de service systemd
  template:
    src: app.service.j2
    dest: "/etc/systemd/system/{{ service_name }}.service"
    mode: '0644'

- name: Recharger systemd
  ansible.builtin.shell: "systemctl daemon-reload"

- name: Redémarrer l'application
  service:
    name: "{{ service_name }}"
    state: restarted
    enabled: true